$primary-color: #3498db;
$secondary-color: #2980b9;
$base-spacing: 20px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
}

ul {
  list-style: none;
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: $base-spacing;
}

a {
  text-decoration: none;
  color: white;
  background-color: $primary-color;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

a:hover {
  background-color: $secondary-color;
}

header {
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 1em;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $base-spacing;
}

section {
  flex: 1;
  display: flex;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: $primary-color;
  color: white;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 100%;
}
