* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/ocean.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

/* 각 div의 기본 스타일 */
div {
  width: 100px;
  /* div의 너비 */
  height: 100px;
  /* div의 높이 */
  position: absolute;
  /* 절대 위치 */
  top: 0;
  /* 초기 상단 위치 */
}

#name-hongmongi {
  background-image: url("../images/fish.png");
  left: 0;
}

#name-leemingoo {
  background-image: url("../images/fish.png");
  left: 100px;
}

#name-yunjunhyun {
  background-image: url("../images/fish.png");
  left: 200px;
}

#name-sindonghyun {
  background-image: url("../images/fish.png");
  left: 300px;
}

#name-kimhyun {
  background-image: url("../images/fish.png");
  left: 400px;
}