* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/ocean.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  position: relative;
}

.teamMemberName > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/fish.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  position: absolute;
  left: 0;
}

.teamMemberIntroduce {
  display: none;
  margin-top: 10px;

  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  outline: 1px solid black;
}

.teamMemberIntroduce.active {
  display: block;
}